h2 {
color:white;
margin-top:5%;
font-size:35px;
font-family: 'Special Elite', cursive;
}

body{
background-image:url(/static/images/bg.jpeg);
background-attachment:fixed;
}

.modalcard{
background-color:rgba(10,10,10,0.9);
color:white;
padding:3%;
border:none;
}
h3{
color:white;
font-family: 'Special Elite', cursive;
}
hr{
background:white;
height:2px;
}
#imageheader{
font-family: 'Yeseva One', cursive;
}

.imgdesc{
font-family: 'Vollkorn', serif;
}
#foundnon{

}
#found{
margin-bottom:3%;
}