<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
<a class="navbar-brand text-white" href="/"><h3><strong>Picture Share</strong></h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    </ul>
    <form class="form-inline my-2 my-md-0"  action="/search" role="search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Category" name="imagesearch" aria-label="Search">
      <button class="btn btn-info btn-md my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>